*{
    margin: 0;
    padding:0;

}

:root{
    --cor-principal:#FFFFFF;
    --cor-secundaria:#C0C0C0;
    --cor-do-botao:#9A0606;
    --cor-do-fundo:#000000;

}

body{
    background-color: var(--cor-do-fundo);
    color: var(--cor-principal);
}

.principal{
    background-image: url("img/Background.png");
    text-align: center;
}

.container{
    height:100vh;
    display: grid;
    grid-template-columns: 40% 60%;
    background-repeat: no-repeat;
    background-size: contain;
    
}

.container-titulo{
    margin: 20px;
}

.container-aviso{
    font-size:small;
    margin: 20px;
    margin-left: 40px;
}

.container-botao{
    font-size:large;
    text-decoration: none;
    background-color: var(--cor-do-botao);
    border-radius: 15px;
    padding: 2em;
    color:var(--cor-principal);
    display: block;
    margin-top: 20px;
}
.botao-secundario{
    background-color: transparent;
    border:2px solid var(--cor-principal);
    margin-top: 20px;;
}

.container-caixa{
    margin: 20px;
    margin-left: 35px;
}

.container2{
    height:100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    
}

.secundaria-imagem{
 width: 60%;
 margin-left: 10em;
}
.secundario{
align-items: center;
margin: 10 10em;

}

.container-descricao{
    margin: 10px;
}
.descricao-titulo{
font-weight: 700;
color: var(--cor-principal);
margin-bottom: 0.5em;
}

.descricao-texto{
    color: var(--cor-secundaria);
    margin-right: 22em;
}




.container-botao3{
background-color: #9A0606;
color: var(--cor-principal);
padding: 2em; 
border: none;
text-decoration: none;
border-radius: 15px;
}