*{
    margin: 0;
    padding:0;

}

:root{
    --cor-principal:#FFFFFF;
    --cor-secundaria:#C0C0C0;
    --cor-do-botao:#9A0606;
    --cor-do-fundo:#000000;

}

body{
    background-color: var(--cor-do-fundo);
    color: var(--cor-principal);
}

.principal{
background-image: url("img/Background.png");

}

.container{
    height:100vh;
    background-repeat: no-repeat;
    background-size: contain;
}